@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

@import "tailwindcss";

html,
body,
:root {
  height: 100%;
}

:root {
  --font-manrope: "Manrope", sans-serif;

  --primary: hsl(22 65% 57%);
  --secondary: hsl(21 94% 75%);
  --neutral-900: hsl(0 0% 6%);
  --neutral-950: hsl(0 0% 0%);
  --neutral-100: hsl(0 0% 95%);
  --neutral-50: hsl(0 0% 98%);
  --neutral-0: hsl(0 0% 100%);
}

body {
  font-family: var(--font-manrope);
  font-weight: 400;
}

/* @layer utilities {
  .text-primary {
    color: var(--color-primary);
  }
  .bg-primary {
    background-color: var(--color-primary);
  }

  .text-secondary {
    color: var(--color-secondary);
  }
  .bg-secondary {
    background-color: var(--color-secondary);
  }

  .text-neutral-900 {
    color: var(--color-neutral-900);
  }
  .bg-neutral-900 {
    background-color: var(--color-neutral-900);
  }

  .text-neutral-950 {
    color: var(--color-neutral-950);
  }
  .bg-neutral-950 {
    background-color: var(--color-neutral-950);
  }

  .text-neutral-100 {
    color: var(--color-neutral-100);
  }
  .bg-neutral-100 {
    background-color: var(--color-neutral-100);
  }

  .text-neutral-50 {
    color: var(--color-neutral-50);
  }
  .bg-neutral-50 {
    background-color: var(--color-neutral-50);
  }

  .text-neutral-0 {
    color: var(--color-neutral-0);
  }
  .bg-neutral-0 {
    background-color: var(--color-neutral-0);
  }
} */
